{{! displays each article in its own card}}
<div class="container-fluid article-container">
    <div class="row">
        <div class="offset-2 col-8">
            {{#each articles}}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <a href="{{this.link}}" class="btn btn-warning-outline article-link" target="_blank">Full Article</a>
                    <button class="btn btn-success save">Save Article</button>
                    {{!-- <a href="{{link}}" class="btn btn-success-outline">Comment</a> --}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<script src="../public/assets/js/index.js"></script>
{{!-- <script src="../../public/assets/js/saved.js"></script> --}}