{{! displays each article in its own card}}
<div class="container">
    <div class="row">
        <div class="offset-2 col-8">
            {{#each articles}}
            <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{description}}</p>
                <a href="{{link}}" class="btn btn-warning-outline">Full Article</a>
                {{!-- <a href="{{link}}" class="btn btn-success-outline">Comment</a> --}}
            </div>
            </div>
            {{/each}}            
        </div>
    </div>
</div>


<script src="../../public/assets/js/index.js"></script>
<script src="../../public/assets/js/saved.js"></script>